{% load static %}
<html>
  <head>
    <title>{%block title%} Song Page {% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/admin/img/fontsawesome_icons/css/all.css" rel="stylesheet">
    
    <link id="stl" rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Staatliches&display=swap" rel="stylesheet">
  </head>
  <body onload="setcss()">
    <nav>
      <div class="navbar">
          <a href="/" class="navbar-brand">YT-DOWNLOADER</a>
          <button class="toggle-collapse">
              <i class="fas fa-align-center fa-lg"></i>
          </button>
          <div class="navbar-collapse">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a href="/downloader/instructions" >Instructions</a>
                  </li>
                  <li class="nav-item">
                      <a href="/downloader/download">DOWNLOAD VIDEOS</a>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" onclick="swapStyleSheet('../../static/admin/css/navbar.css')">Red Theme</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" onclick="swapStyleSheet('../../static/admin/css/navbar_blue.css')">Blue Theme</button>
                </li>
                  {% if not logged %}
                  <li class="nav-item">
                      <a class="nav-link" href="/downloader/login">LOGIN</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/downloader/signup">SIGN-UP</a>
                  </li>
                  {% endif %}
                  {% if logged %}
                  <li class="nav-item">
                      <a class="nav-link" href="/downloader/profile">{{ user }}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/downloader/logout">LOGOUT</a>
                  </li>
                  {% endif %}
                  
                  
              </ul>
          </div>
      </div>
  </nav>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function(){
          $('.toggle-collapse').click(function(){
              $('.navbar-collapse').toggleClass("collapse");
              $('.navbar').toggleClass("bg");
          })
      });

      function setcss(){
          const sheet = localStorage.getItem('stylesheet');
          if (sheet == null){
            document.getElementById('stl').setAttribute('href', '../../static/admin/css/navbar.css');
          }
          else {
            document.getElementById('stl').setAttribute('href', sheet);
          }
          

      }

      function swapStyleSheet(sheet){
          document.getElementById('stl').setAttribute('href', sheet);
          localStorage.setItem('stylesheet', sheet);
      }
  </script>
    {% block body_block %} {% endblock %}
  </body>
</html>
