{% extends "base.html" %} {% block body_block %}
<div class="download">
<h2 class="down">Download Videos</h2>
<form class="form-inline" method="get">
  <div class="form-group">
    <label class="yt item" for="URL">Enter YouTube Video Link </label>
    <input type="url" name="url" class="item" id="email" />
    <small id="emailHelp" class="item">Enter a valid YouTube URL.</small>
  </div>
  <div class="but"><button onclick=" show() " type="submit" class="btn btn-default">Download</button></div>
</form>
</div>


  <div class="body" id="MyDiv" style="display:none">
    Downloading...
  </div>



<script>
  function show(){
    const d = document.getElementById("MyDiv");
    d.style.display = "block";
  }
</script>
{% if message %}
<script>
  alert("{{ message }}");
</script>
{% endif %} {% endblock %}
