{% extends "home.html" %} {% block content %}

<h2 class="down">Download Videos</h2>
<form class="form-inline" method="get">
  <div class="form-group">
    <label class="yt" for="URL">YouTube Video  =></label>
    <input type="url" name="url" class="form-control" id="email" />
    <small id="emailHelp" class="form-text text-muted">Enter a valid YouTube URL.</small>
  </div>
  <div class="but"><button type="submit" class="btn btn-default">Download</button></div>
</form>

{% if message %}
<script>
  alert("{{ message }}");
</script>
{% endif %} {% endblock %}
