{% extends "base.html" %} {% block body_block %}
<div class="instructions" id="instructions">
<h1>How to use this tool</h1>
    <ul>
        <li>Login with a suitable id, or register</li>
        <li>Go To download videos and enter url of the required video</li>
        <li>Click on the Download button and wait for the download to finish</li>
        <li>You will find the download in the downloads folder of the project</li>
        <li>You will get your download history in your profile</li>
    </ul>
</div>

{% endblock %}