{% extends "base.html" %} {% block body_block %}

<div class="Login">
  <h2 class="log">Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Username</label>
      <input
        class="form-control"
        type="text"
        id="username"
        placeholder="Enter username"
        name="username"
      />
      <div class="smol"><small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small></div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="but"><button type="submit" class="btn btn-primary">Login</button></div>
  </form>
  {% if error %}
  <div class="alert aler-danger">
    You need to register first!<br>
    <a href="{% url 'signup' %}">Click here to register!</a>
  </div>
  
  {% endif %}
</div>
{% endblock %}
