.Login{
    margin: auto;
    margin-top: 22vh;
    background-color: rgba(0, 92, 99, 0.336);
    backdrop-filter: blur(5px);
    height: 40vh;
    width: 40vw;
    padding: 20px;
    box-shadow: 0 0 40px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
    border-radius: 20px;
}

.signup{
    margin: 10vh 30%;
    background-color: rgba(0, 87, 99, 0.336);
    backdrop-filter: blur(5px);
    width: 40vw;
    padding: 10px;
    box-shadow: 0 0 40px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
    border-radius: 20px;
    display: inline-block;
    color: rgb(0, 225, 255);
    filter: drop-shadow(0 0 10px black);
}

.sh{
    text-align: center;
    color: white;
    font-size: 30px;
    filter: drop-shadow(0 0 10px black);
}

.log{
    text-align: center;
    font-size: 40px;
    color: white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));

}



.btn{
    margin-top: 20px;
    color: black;
    font-size: 20px;
    font-family: 'Staatliches', cursive; 
    text-decoration: none;
    border: 1px solid rgb(0, 141, 160);
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px black);
}

.btn:hover{
    background-color: rgb(0, 206, 206);
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
}

.login label{
    color: rgb(0, 174, 255);
    filter: drop-shadow(0 0 20px black);
}

.login .form-group{
    margin-top: 3vh;
}

.login .alert{
    text-align: center;
    color: white;
    filter: drop-shadow(0 0 5px black);
}

.login a{
    text-align: center;
    text-decoration: none;
    color:rgb(0, 141, 160);
}

.login a:hover{
    color: rgb(0, 206, 206);
}


@media screen and (max-width: 540px){
    .login .form-group{
        margin: 14px auto;
        margin-bottom: 25px;
        width: 210px;
    }

    .login label{
        display: block;
        text-align: center;
        margin: 0;
    }

    .login input{
        display: block;
        text-align: left;
        float: right;
    }

    .login small{
        display: inline-block;
    }

    .login{
        width: 100%;
        margin: none;
        padding: 20px 0;
        text-align: center;
        height: 50vh;
    }

    .login .but{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .btn{
        margin: 0 auto;
    }

    .signup{
        width: 100%;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
}